{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["airbnb-base", "prettier"],
  "globals": {
    "NodeJS": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "class-methods-use-this": "off",
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never"
      }
    ],
    "import/prefer-default-export": "off",
    "no-console": ["error", { "allow": ["info"] }],
    "import/no-extraneous-dependencies": ["error"]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "ignorePatterns": ["*.d.ts"]
}
